<div class="cards">
  <div class="cards-row">
    <div class="card">
      <div class="card-text">
        <span class="card-title">Total Balance</span>
        <span class="card-time">1 Januray - 31 December 2022</span>
      </div>
      <div class="card-icon card-icon1">
        <ion-icon class="ion-icon icon1" name="card"></ion-icon>
      </div>
      <div class="card-numbers">
        <div class="card-number">$1.000.000</div>
        <div class="card-diff plus">+ 17% last year</div>
      </div>
      <div class="card-graph"></div>
    </div>
    <div class="card">
      <div class="card-text">
        <span class="card-title">Total Income</span>
        <span class="card-time">1 Januray - 31 December 2022</span>
      </div>
      <div class="card-icon card-icon2">
        <ion-icon class="ion-icon icon2" name="add-circle"></ion-icon>
      </div>
      <div class="card-numbers">
        <div class="card-number">$600.000</div>
        <div class="card-diff plus">+ 12% last year</div>
      </div>
      <div class="card-graph"></div>
    </div>
    <div class="card">
      <div class="card-text">
        <span class="card-title">Total Outcome</span>
        <span class="card-time">1 Januray - 31 December 2022</span>
      </div>
      <div class="card-icon card-icon3">
        <ion-icon class="ion-icon icon3" name="remove-circle"></ion-icon>
      </div>
      <div class="card-numbers">
        <div class="card-number">$400.000</div>
        <div class="card-diff minus">- 9% last year</div>
      </div>
      <div class="card-graph"></div>
    </div>
  </div>
  <div class="cards-row-second">
    <div class="card card-left"></div>
    <div class="card"></div>
  </div>
</div>
