:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  flex-grow: 1;
}

.cards-row {
  height: 40%;
  display: flex;
  gap: 16px;
}

.cards-row-second {
  display: flex;
  gap: 16px;
  flex-grow: 1;
}

.card {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.card-text {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-p {
  font-size: 0.9rem;
  color: #666;
}

.card-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 25%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon1 {
  background-color: #f1f3fe;
}

.card-icon2 {
  background-color: #eefbef;
}

.card-icon3 {
  background-color: #fbeeee;
}

.ion-icon {
  font-size: 1.8rem;
  visibility: visible;
}

.icon1 {
  color: #4d66eb;
}

.icon2,
.plus {
  color: #29c92f;
}

.icon3,
.minus {
  color: #c92929;
}

.card-numbers {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
}

.card-number {
  font-size: 1.6rem;
  font-weight: 600;
}

.card-graph {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 30%;
  aspect-ratio: 4/2;
  border-radius: 10px;
  background-image: url("../../assets/minigraph.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-left {
  width: 80%;
}

.card-table {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  width: auto;
  border-radius: 10px;
  height: 68%;
  overflow-y: hidden;
}

.table-header {
  display: flex;
  color: #666;
  font-size: 0.8rem;
  border-bottom: 1px solid #ddd;
  height: 13%;
  margin-bottom: 20px;
}

.header-name,
.list-item-name {
  flex-grow: 1;
}

.header-item,
.list-item-data {
  width: 20%;
  text-align: center;
}

.table-list {
  overflow-y: scroll;
  height: 100%;
}

.table-list::-webkit-scrollbar {
  display: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}
