<div class="background">
  <div class="bg-top"></div>
  <div class="bg-bottom"></div>
</div>
<div class="main">
  <div class="header">Budget</div>
  <hr class="line" />
  <div class="welcome-container">
    <div class="welcome-text">Welcome Simon</div>
    <div class="secondary-text">Manage your money.</div>
  </div>
  <div class="nav">
    <span class="nav-item">Overview</span>
    <span class="nav-item">Analytics</span>
    <span class="nav-item">Transactions</span>
    <span class="nav-item">Settings</span>
  </div>
  <div class="cards">
    <div class="cards-row">
      <div class="card">
        <div class="card-text">
          <span class="card-title">Total Balance</span>
          <span class="card-time">1 Januray - 31 December 2022</span>
        </div>
        <div class="card-icon"></div>
        <div class="card-numbers">
          <div class="card-number">$1.000.000</div>
          <div class="card-diff">+ 17% last year</div>
        </div>
        <div class="card-graph"></div>
      </div>
      <div class="card"></div>
      <div class="card"></div>
    </div>
    <div class="cards-row-second">
      <div class="card card-left"></div>
      <div class="card"></div>
    </div>
  </div>
</div>
