<div class="background">
  <div class="bg-top"></div>
  <div class="bg-bottom"></div>
</div>
<div class="main">
  <div class="header">
    <div class="header-title">Budget</div>
    <div class="header-icons">
      <div
        class="icon-container"
        (mouseenter)="turnNotifOn()"
        (mouseleave)="turnNotifOff()"
      >
        <ion-icon
          *ngIf="isNotifOn"
          class="header-icon"
          name="notifications"
        ></ion-icon>
        <ion-icon *ngIf="!isNotifOn" name="notifications-outline"></ion-icon>
      </div>
      <div
        class="icon-container"
        (mouseenter)="turnUserOn()"
        (mouseleave)="turnUserOff()"
      >
        <ion-icon *ngIf="isUserOn" class="header-icon" name="person"></ion-icon>
        <ion-icon *ngIf="!isUserOn" name="person-outline"></ion-icon>
      </div>
    </div>
  </div>
  <hr class="line" />
  <div class="welcome-container">
    <div class="welcome-text">Welcome Simon</div>
    <div class="secondary-text">Manage your money.</div>
  </div>
  <div class="nav">
    <a routerLink="/overview" routerLinkActive="active" class="nav-link"
      >Overview</a
    >
    <a routerLink="/analytics" routerLinkActive="active" class="nav-link"
      >Analytics</a
    >
    <a routerLink="/manage" routerLinkActive="active" class="nav-link"
      >Manage</a
    >
  </div>
  <div class="animation-wrapper" [@routeAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>
</div>
