<div class="card">
  <div class="card-table">
    <div class="table-header">
      <span class="header-name">NAME</span>
      <!-- <span class="header-item">TYPE</span>
      <span class="header-item">DATE</span> -->
      <span class="header-item">AMOUNT</span>
    </div>
    <div class="table-list">
      <div class="list-item" *ngFor="let transaction of transactions$ | async">
        <div class="list-item-name">{{ transaction.name }}</div>
        <!-- <div class="list-item-data">{{ transaction.type }}</div>
        <div class="list-item-data">{{ transaction.date }}</div> -->
        <div class="list-item-data">{{ transaction.amount }}</div>
      </div>
    </div>
  </div>
</div>
